
.registration-page {
  display: flex;
  box-shadow: 1px 1px 3px rgba(black, 0.5);
  &_left{
    flex: 0 1 60%;
  }
  &_right{
    flex: 0 1 40%;
    background-color: #ebccf5;
    padding: 60px;
  }
}